<a href="https://colab.research.google.com/github/Alireza-Foroughi-uk/Tutorials/blob/main/SQL_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step 1: SQL Syntax**

In [2]:
# SELECT Name , Phonenumber
# FROM Customers ;

# DISTINCT: SELECT DISTINCT statement is used to return only different values

# SELECT DISTINCT Country From Table;

**Step 2: SQL WHERE Clause**

In [1]:
# used to extract only those records that fulfill a specified condition:

# SELECT *
# FROM Table
# WHERE Country = 'iran';

# Operators in The WHERE Clause:

# SELECT * FROM Table
# WHERE age > 18;

**Step 3: SQL ORDER BY**

In [ ]:
# Used to sort the result-set in ascending or descending order:

# SELECT * FROM Table
# ORDER BY Price;

# ASC and DESC : The ORDER BY keyword sorts the records in ascending order by default. To sort the records in descending order, use the DESC keyword
# DESC : Highest to Lowest

# SELECT * FROM TABLE
# ORDER BY Names ASC, Price DESC;

**Step 4: SQL AND - OR - NOT Operator**

In [ ]:
# AND operator: displays a record if all the conditions are TRUE

# SELECT * FROM Customers
# WHERE Country = 'iran' AND CustomerName LIKE 'A%';

# OR operator: displays a record if any of the conditions are TRUE
# At Least One Condition Must Be True

# SELECT *
# FROM Table
# WHERE Country = 'iran' OR Country = 'UK';


# NOT Operator: negative result

# SELECT * FROM Table
# WHERE NOT Country = 'United Kingdom';